*{
    font-family: 'Open Sans', sans-serif;
}

#about>h1{
    color: #7990b9;
    font-size: 50px;
}

.intro-section{
    /* border: 1px solid black; */
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    padding: 50px 0px 150px 0px;
}

.about-me{
    /* padding: 50px 0px; */
    display: flex;
    flex-direction: column;
    width: 60%;
    line-height: 0.5em;
}

.about-me>h1{
    font-size: 60px;
    text-align: left;
}

.name-text{
    color: #3c547d;
    font-weight: 700;
}

.about-me>p{
    /* color: rgb(158, 173, 201); */
    color: #7990b9;
    line-height: 1.5em;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
}

.social-media{
    display: flex;
    margin-top: 40px;
}

.social-icons{
    font-size: 45px;
    padding: 10px 25px;
}

.button{
    margin: 40px 0px 30px 40px;
    text-align: left;
}

.resume-button{
    cursor: pointer;
    border-radius: 5px;
    background-color: #bfd1ec;
    padding: 10px 40px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

#resume-button-2:hover{
    color: white;
    background-color: #3a60a1;
    transition: background-color 0.3s ease-in-out;
}

.illustration{
    width: 30%;
}


.illustration>img{
    width: 70%;
}

/* #87a6d3    ------> heading color */