.github-profile{
    width: 100%;
}

.github-profile>h1{
    color: #3c547d;
    font-size: 50px;
    margin-top: 100px;
}

.github-charts{
    padding: 70px 0px;
}

.react-activity-calendar>img{
    width: 80%;
    padding: 50px 0px;
}



/* ------------------------------------- LARGE SCREEN ---------------------------------------- */
@media only screen and (min-width: 769px) and (max-width: 1060px) {
    .github-profile>h1{
        font-size: 40px;
    }

    .react-activity-calendar>img{
        width: 90%;
    }

    .github-charts{
        width: 100%;
        padding: 0px;
    }

    #github-streak-stats{
        width: 50%;
        padding: 20px 0px;
    }

    #github-top-langs{
        width: 60%;
        padding: 20px 0px;
    }

    #github-stats-card{
        width: 50%;
        padding: 20px 0px;
    }
}


/* ------------------------------------- TABLET SCREEN ---------------------------------------- */
@media only screen and (min-width: 482px) and (max-width: 768px) {
    .github-profile>h1{
        font-size: 40px;
    }

    .react-activity-calendar>img{
        width: 90%;
    }

    .github-charts{
        width: 100%;
        padding: 0px;
    }

    #github-streak-stats{
        width: 50%;
        padding: 20px 0px;
    }

    #github-top-langs{
        width: 60%;
        padding: 20px 0px;
    }

    #github-stats-card{
        width: 50%;
        padding: 20px 0px;
    }
}


/* --------------------------------------- MOBILE SCREEN ------------------------------------------- */
@media only screen and (min-width: 370px) and (max-width: 481px) {
    .github-profile>h1{
        font-size: 30px;
    }

    .react-activity-calendar>img{
        width: 90%;
    }

    .github-charts{
        width: 100%;
        padding: 0px;
    }

    #github-streak-stats{
        width: 70%;
    }

    #github-top-langs{
        width: 70%;
    }

    #github-stats-card{
        width: 70%;
    }
}