/* ------------------------- FIRST IMPLEMENTATION ------------------------------ */

/* #projects{

}

#projects>h1{
    color: #3c547d;
    padding: 40px 0px;
    font-size: 50px;
}

.tech-stack-text{
    font-size: 20px;
    font-weight: 700;
}

#projects p{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.project-grid{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    row-gap: 40px;
    margin: auto;
}

.project-card{
    position: relative;
    width: 90%;
    height: 600px;
    padding: 30px 30px;
    background-color: #96b2dd;
    border-radius: 25px;
    border: 2px solid rgb(149, 149, 181);
}

.project-card>img{
    width: 100%;
}

h2{
    font-size: 25px;
}

.project-card button{
    position: absolute;
    bottom: 30px;
    padding: 8px 15px;
    background-color: #3c547d;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

.github-repo-btn{
    left: 150px;
}

.deployed-site-btn{
    right: 150px;
} */










/* -------------------------- SECOND IMPLEMENTATION --------------------------------- */

#projects>h1{
    color: #3c547d;
    padding: 40px 0px;
    font-size: 50px;
}

.project-grid{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 90%;
    margin: auto;
    /* border: 1px solid red; */
}

.project-card{
    width: 85%;
    margin: auto;
    padding: 30px 30px;
    /* background-color: #abc3e8; */
    background-color: rgb(138, 157, 193);
    border-radius: 10px;
    border: 5px solid rgb(186, 186, 205);
    /* border: 2px solid rgb(149, 149, 181); */
}

.project-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.project-img{
    width: 55%;
}

.project-img>img{
    width: 100%;
}

.project-features{
    width: 40%;
    position: relative;
    text-align: left;
    /* border: 1px solid red; */
}

.project-title{
    font-size: 28px;
}

.project-description{
    font-size: 20px;
}

.project-live-links{
    /* border: 1px solid orange; */
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    /* right: 70px; */
}

.project-title{
    font-size: 24px;
}

.project-description{
    font-size: 19px;
}

.project-live-links button{
    font-size: 18px;
    border: 2px solid rgb(186, 186, 205);
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 10px;
}

.project-live-links button:hover{
    background-color: whitesmoke;
    color: rgb(138, 157, 193);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border: 2px solid rgb(118, 139, 179);
}

.project-tech-stack{
    font-size: 20px;
    font-weight: 400;
}

.tech-stack-text{
    font-size: 23px;
    font-weight: 700;
}



/* ------------------------------------- LARGE SCREEN ---------------------------------------- */
@media only screen and (min-width: 769px) and (max-width: 1060px) {
    #projects>h1{
        font-size: 40px;
    }

    .project-grid{
        width: 90%;
    }

    .project-live-links{
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-between;
        position: absolute;
        bottom: 20px;
        /* right: 30px; */
    }
    
    .project-live-links button{
        padding: 10px 10px;
        margin-inline: 8px;
    }

    .project-tech-stack{
        font-size: 18px;
    }
    
    .tech-stack-text{
        font-size: 20px;
    }
}



/* ------------------------------------- TABLET SCREEN ---------------------------------------- */
@media only screen and (min-width: 482px) and (max-width: 768px) {
    #projects>h1{
        font-size: 40px;
    }

    .project-grid{
        width: 90%;
    }

    .project-live-links{
        display: flex;
        width: 90%;
        margin: auto;
        justify-content: space-between;
        position: absolute;
        bottom: 5px;
        /* right: 30px; */
    }
    
    .project-live-links button{
        padding: 10px 10px;
        margin-inline: 8px;
    }

    .project-tech-stack{
        font-size: 18px;
    }
    
    .tech-stack-text{
        font-size: 20px;
    }
}


/* --------------------------------------- MOBILE SCREEN ------------------------------------------- */
@media only screen and (min-width: 370px) and (max-width: 481px) {
    #projects>h1{
        font-size: 30px;
    }

    .project-grid{
        width: 80%;
    }

    .project-card{
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 30px 20px;
    }
    
    .project-info{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .project-img{
        width: 100%;
    }
    
    .project-img>img{
        width: 100%;
        max-height: 200px;
    }

    .project-features{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        height: 200px;
        /* border: 1px solid red; */
    }
    
    .project-title{
        font-size: 21px;
        margin: 0px;
    }
    
    .project-description{
        font-size: 16px;
    }
    
    .project-live-links{
        /* border: 1px solid orange; */
        display: block;
        width: 220px;
        position: absolute;
        bottom: 0px;
        left: 25px;
    }
    
    .project-live-links button{
        margin-inline: 8px;
        font-size: 14px;
    }
    
    .project-tech-stack{
        font-size: 16px;
    }
    
    .tech-stack-text{
        font-size: 18px;
    }
}